@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6404E0;
  --secondary: #B369FE;
  --accent: #E2C5FF;
  --background-light: #F5F5F5;
  --background-dark: #222222;
  --neutral-gray: #D9D9D9;
  --warning: #FB4B4B;
  --success: #1B6640;
  --info: #FBFDC7;
  --highlight: #F9FB7D;
}

body {
  /* color: var(--primary);
  background: var(--accent); */
  font-family: Arial, Helvetica, sans-serif;
}
